@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #090b1a;
}

img {
  max-width: 100%;
  display: block;
}

@media (min-width: 720px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1140px) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", serif;
}

.highlight {
  color: #aa5cdb;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 2px solid black;
}

.btn__primary {
  background-color: white;
  color: black;
}

.btn__primary:hover, .btn__primary:focus, .btn__primary:active {
  background-color: black;
  color: white;
}

.btn__primary:focus {
  -webkit-box-shadow: 0 0 0 0.25rem white;
          box-shadow: 0 0 0 0.25rem white;
}

.card-preview {
  background-color: #1b1938;
  color: white;
  border-radius: 10px;
}

.card-preview__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}

.card-preview__img,
.card.preview__img img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-preview__img {
  background: #5b1c82;
  overflow: hidden;
}

.card-preview__img img {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.3;
  -webkit-filter: contrast(1.2);
          filter: contrast(1.2);
}

.card-preview__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.card-preview__title {
  font-size: 1.75rem;
  line-height: 1.2;
}

.card-preview__text {
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.95rem;
}

.card-preview__stats--title {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 700;
}

.card-preview__stats--text {
  color: rgba(255, 255, 255, 0.75);
  margin: 0;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 400;
}

.image--shadow {
  box-shadow: 25px 25px 0px 0px #1b1938;
  -webkit-box-shadow: 25px 25px 0px 0px #1b1938;
  -moz-box-shadow: 25px 25px 0px 0px #1b1938;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}

/*  
Bootstrap: Override colores navbar

// Agrega margin a los nav-links en desktop 
@media(min-width: 996px) {
    .nav-item {
        margin-left: 1.2rem !important;
    }
}

// Override color a los nav-links
.navbar-dark, 
.navbar-brand,
.navbar-nav,
.nav-link {
    color: $primary !important;

    &:hover,
    &:focus {
        color: $secondary !important;
    }
}

// Color para mostrar página activa en navbar
.active {
    font-weight: 700;
    color: $white !important;
}

// Override color del navbar-toggler
.navbar-dark, 
.navbar-toggler {
    color: $primary;

    &:hover,
    &:focus {
        color: $primary;
    }
}
*/
/*# sourceMappingURL=main.css.map */